.animation-pufferfish {
  background-color: var(--color-off-white-1);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  height: 240px;
  margin: 0 auto;
  padding: var(--gap-section);
  position: relative;
  width: 270px;
}

.animation-pufferfish__fish {
  animation-delay: -0.5s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: animation-pufferfish-fish;
  animation-timing-function: ease-in-out;
  bottom: 0;
  display: block;
  left: 45px;
  margin: 0 auto;
  max-width: 75%;
  position: absolute;
  z-index: 2;
}

.animation-pufferfish__wave {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: animation-pufferfish-wave;
  animation-timing-function: ease-in-out;
  bottom: 0;
  display: block;
  max-width: 60%;
  position: absolute;
}

.animation-pufferfish__wave--1 {
  animation-delay: 0s;
  left: var(--gap);
  z-index: 1;
}

.animation-pufferfish__wave--2 {
  animation-delay: -0.33s;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.animation-pufferfish__wave--3 {
  animation-delay: -0.66s;
  right: var(--gap);
  z-index: 3;
}

@keyframes animation-pufferfish-wave {
  0% {
    bottom: 16px;
  }

  50% {
    bottom: 32px;
  }

  100% {
    bottom: 16px;
  }
}

@keyframes animation-pufferfish-fish {
  0% {
    bottom: 40px;
    transform: rotate(0);
  }

  50% {
    bottom: 48px;
    transform: rotate(10deg);
  }

  100% {
    bottom: 40px;
    transform: rotate(0);
  }
}
