.button-link {
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 var(--border-size) var(--color-shadow), 0 var(--border-size) 0 var(--color-shadow);
  color: var(--color-off-white-1);
  display: inline-block;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  font-weight: bold;
  margin: 0;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: box-shadow var(--time-animation) ease, opacity var(--time-animation) ease;
}

.button-link:hover {
  opacity: 0.9;
  text-decoration: underline;
}

.button-link:active {
  box-shadow: inset 0 0 0 var(--border-size) var(--color-shadow), 0 0 0 var(--color-shadow);
  opacity: 0.75;
}
