.title {
  color: inherit;
  font-family: var(--font-family-sans);
  line-height: var(--line-height-header);
  margin: 0;
}

.title--design-1 {
  font-size: var(--font-size-header-1);
}

.title--design-2 {
  font-size: var(--font-size-header-2);
}

.title--design-3 {
  font-size: var(--font-size-header-3);
}

.title--design-4 {
  font-size: var(--font-size-header-4);
}

.title--underscore::after {
  color: var(--color-accent);
  content: var(--content-after-header);
}
