.adjacent-post-link-next {
  color: inherit;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--gap);
  max-width: var(--max-width-adjacent-post-link);
  text-align: right;
  text-decoration: none;
  width: 100%;
}

.adjacent-post-link-next__label {
  font-size: var(--font-size-footnotes);
  line-height: var(--line-height-footnotes);
}

.adjacent-post-link-next__label::after {
  color: var(--color-accent);
  content: ' ' var(--content-arrows-right);
}

.adjacent-post-link-next__title {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-header-3);
  font-weight: bold;
  line-height: var(--line-height-header);
  text-decoration: underline;
}

.adjacent-post-link-next:hover .adjacent-post-link-next__title {
  text-decoration: none;
}
