.header {
  align-items: center;
  background-color: var(--color-background-1);
  display: flex;
  gap: var(--gap);
  left: 0;
  padding: var(--blocks-header-padding);
  position: fixed;
  top: 0;
  transition: top var(--time-animation) ease;
  width: 100%;
  z-index: 9;
}

.header--hidden {
  top: calc(-1 * var(--blocks-header-height));
}

.header__logo {
  height: var(--blocks-header-logo-height);
  width: auto;
}

@media screen and (min-width: 960px) {
  .header {
    background-color: transparent;
    top: 0 !important;
    width: auto;
  }

  .header__button {
    display: none !important;
  }
}
