.header {
  align-items: center;
  background-color: var(--color-background-2);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-flyout);
  box-sizing: border-box;
  display: flex;
  gap: var(--gap);
  left: var(--padding-flyout);
  max-width: var(--max-width-drawer);
  padding: var(--padding-flyout);
  position: fixed;
  top: var(--padding-flyout);
  transition: background-color var(--time-animation) ease, top var(--time-animation) ease;
  width: 100%;
  z-index: 9;
}

.header-enter,
.header-leave-to {
  top: calc(-1 * var(--blocks-header-height));
}

.header__logo {
  height: var(--blocks-header-height-logo);
  width: auto;
}

@media screen and (min-width: 960px) {
  .header {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }

  .header__button {
    display: none !important;
  }
}
