.button {
  appearance: none;
  cursor: pointer;
  margin: 0;
}

.button--general {
  background-color: var(--color-accent);
  border: var(--border-size) solid var(--color-clickable-border);
  border-radius: var(--border-radius);
  color: var(--color-off-white-1);
  display: inline-block;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  font-weight: bold;
  padding: 0.5em 1em;
}

.button--general:hover {
  text-decoration: underline;
}

.button--text {
  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: var(--font-family-serif);
  font-size: inherit;
  padding: 0;
  text-decoration: underline;
}

.button--text:hover {
  text-decoration: none;
}
