.list-poems-homepage {
  align-items: center;
}

.list-poems-homepage__title {
  text-align: center;
}

.list-poems-homepage__poems {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--gap);
}
