.audiobook {
  align-items: center;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  color: var(--color-off-white-1);
  display: flex;
  justify-content: center;
  line-height: 0;
  min-height: var(--height-audiobook-player);
  padding: var(--border-radius);
  text-align: center;
}
