.main {
  background-color: var(--color-background-1);
  border-radius: 0 0 0 var(--border-radius);
  padding: var(--gap-section);
}

.main >>> > * {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--gap-section);
  margin: 0 auto;
  max-width: var(--max-width-body);
}
