.button-text {
  appearance: none;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  font-family: var(--font-family-serif);
  font-size: inherit;
  padding: 0;
  text-decoration: underline;
}
