@keyframes logo-crusty-bread-gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.logo-crusty-bread {
  animation: logo-crusty-bread-gradient 20s ease-in-out infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  display: inline-block;
  fill: var(--color-background-2);
  font-size: 0;
  line-height: 0;
}
