.card-audiobook-service {
  align-items: center;
  background-color: var(--color-off-white-1);
  border: var(--border-size) solid var(--color-clickable-border);
  border-radius: var(--border-radius);
  box-shadow: 0 var(--border-size) 0 var(--color-clickable-shadow);
  box-sizing: border-box;
  color: var(--color-off-black-2);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-sans);
  font-size: var(--gap);
  gap: var(--gap);
  height: var(--height-card-audiobook-service);
  margin: 0;
  max-width: var(--max-width-card-audiobook-service);
  overflow: hidden;
  padding: 1em;
  text-decoration: none;
  width: 100%;
}

.card-audiobook-service__logo-wrapper {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
  min-width: 48px;
  width: 48px;
}

.card-audiobook-service__logo {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.card-audiobook-service__cta {
  display: block;
  font-size: var(--font-size-footnotes);
  font-weight: bold;
  line-height: var(--line-height-footnotes);
  margin: 0;
  text-transform: uppercase;
}

.card-audiobook-service__name {
  display: block;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-header-3);
  font-weight: bold;
  line-height: var(--line-height-header);
}

.card-audiobook-service:hover .card-audiobook-service__name {
  text-decoration: underline;
}
