.list-stories-main__title {
  text-align: center;
}

.list-stories-main__stories {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
  justify-items: center;
}
