.page-meta {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--gap);
  text-align: center;
}

.page-meta__title {
  margin: 0 !important;
}

.page-meta__date-published {
  margin: 0 !important;
}
