.cover-story {
  background-color: var(--color-betwixt);
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius);
  max-width: var(--max-width-body);
  width: 100%;
}

.cover-story::before {
  content: '';
  display: block;
  padding-top: 50%;
}
