.social-media {
  align-items: center;
  display: flex;
  font-size: 0;
  gap: var(--gap);
  justify-content: space-between;
  line-height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-media__item {
  height: auto;
  width: 24px;
}

.social-media__link {
  display: block;
  text-decoration: none;
  transition: opacity var(--time-animation) ease;
}

.social-media__link:hover {
  opacity: 0.9;
}

.social-media__link:active {
  opacity: 0.75;
}

.social-media__icon {
  fill: var(--color-base);
}
