.switch {
  --switch-height: 24px;
  --switch-width: 48px;
  --switch-padding: 6px;
  --switch-checked-position: 24px;
  --switch-unchecked-position: 0;
  --switch-knob-size: 12px;
}

.switch__label-wrapper {
  align-items: center;
  display: flex;
  gap: var(--gap);
  margin-bottom: var(--gap);
  position: relative;
}

.switch__checkbox {
  appearance: none;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
}

/** Stale */
.switch__checkbox + .switch__fake-checkbox {
  border: var(--border-size) solid var(--color-base);
  border-radius: var(--switch-height);
  box-sizing: border-box;
  cursor: pointer;
  height: var(--switch-height);
  margin: 0;
  min-width: var(--switch-width);
  position: relative;
  transition: background-color var(--time-animation) ease, border var(--time-animation) ease;
  width: var(--switch-width);
}

.switch__checkbox + .switch__fake-checkbox::before {
  background-color: var(--color-base);
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  display: block;
  height: var(--switch-knob-size);
  left: calc(var(--switch-padding) - var(--border-size));
  position: absolute;
  top: calc(var(--switch-padding) - var(--border-size));
  transform: translateX(var(--switch-unchecked-position));
  transition: background-color var(--time-animation) ease, transform var(--time-animation) ease;
  width: var(--switch-knob-size);
  z-index: 1;
}

/** Stale | Disabled */
.switch__checkbox:disabled + .switch__fake-checkbox {
  border-color: var(--color-betwixt);
  cursor: not-allowed;
}

.switch__checkbox:disabled + .switch__fake-checkbox::before {
  background-color: var(--color-betwixt);
}

/** Checked */
.switch__checkbox:checked + .switch__fake-checkbox {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.switch__checkbox:checked + .switch__fake-checkbox::before {
  background-color: var(--color-off-white-1);
  transform: translateX(var(--switch-checked-position));
}

/** Checked | Disabled */
.switch__checkbox:checked:disabled + .switch__fake-checkbox {
  background-color: var(--color-betwixt);
  border-color: var(--color-betwixt);
}

.switch__checkbox:checked:disabled + .switch__fake-checkbox::before {
  background-color: var(--color-off-white-1);
}

.switch__label {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-header-3);
  font-weight: bold;
  line-height: var(--line-height-header);
  margin: 0;
}

.switch__label::after {
  color: var(--color-accent);
  content: var(--content-after-header);
}

.switch__description {
  width: 100%;
}
