.checkbox {
  --checkbox-size: 24px;
  --checkbox-tick-size: 16px;

  align-items: center;
  display: flex;
  gap: var(--gap);
}

.checkbox__input {
  appearance: none;
  background-color: transparent;
  border: var(--border-size) solid var(--color-base);
  border-radius: var(--border-radius);
  cursor: pointer;
  height: var(--checkbox-size);
  margin: 0;
  min-width: var(--checkbox-size);
  position: relative;
  transition: background-color var(--time-animation) ease, border var(--time-animation) ease;
  width: var(--checkbox-size);
}

.checkbox__input::before {
  background-color: transparent;
  border-radius: var(--border-size);
  content: '';
  display: block;
  height: var(--border-size);
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: background-color var(--time-animation) ease, opacity var(--time-animation) ease, width var(--time-animation) ease;
  width: 0;
}

.checkbox__input:checked::before {
  background-color: var(--color-off-white-1);
  opacity: 1;
  width: var(--checkbox-tick-size);
}

.checkbox__input:checked {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.checkbox__input:disabled {
  border-color: var(--color-betwixt);
  cursor: not-allowed;
}

.checkbox__input:checked:disabled {
  background-color: var(--color-betwixt);
}
