body {
  background-color: var(--color-background-2);
  color: var(--color-base);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
}

.__storybook-section__ {
  border: 2px dashed purple;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: var(--max-width-body);
  padding: var(--gap);
  width: 100%;
}
