body {
  background-color: var(--color-background-2);
  color: var(--color-text-base);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
}
