body {
  --color-base: var(--color-off-black-1);
  --color-contra: var(--color-off-white-1);
  --color-border: var(--color-off-black-transparent);
  --color-shadow: var(--color-off-black-transparent);
  --color-background-1: var(--color-off-white-1);
  --color-background-2: var(--color-off-white-2);
  --color-accent: var(--color-red);
  --color-betwixt: var(--color-gray);
}

@media (prefers-color-scheme: light) {
  body {
    --color-base: var(--color-off-black-1);
    --color-contra: var(--color-off-white-1);
    --color-border: var(--color-off-black-transparent);
    --color-shadow: var(--color-off-black-transparent);
    --color-background-1: var(--color-off-white-1);
    --color-background-2: var(--color-off-white-2);
    --color-accent: var(--color-red);
    --color-betwixt: var(--color-gray);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --color-base: var(--color-off-white-1);
    --color-contra: var(--color-off-black-1);
    --color-border: var(--color-off-white-transparent);
    --color-shadow: var(--color-off-black-transparent);
    --color-background-1: var(--color-off-black-1);
    --color-background-2: var(--color-off-black-2);
    --color-accent: var(--color-red);
    --color-betwixt: var(--color-gray);
  }
}
