body {
  /* Colors */
  --color-off-white-1: rgb(249 249 249 / 100%);
  --color-off-white-2: rgb(243 243 243 / 100%);
  --color-off-white-3: rgb(228 228 228 / 100%);
  --color-off-white-4: rgb(215 215 215 / 100%);
  --color-off-white-transparent-1: rgb(243 243 243 / 15%);
  --color-off-white-transparent-2: rgb(243 243 243 / 35%);
  --color-off-black-1: rgb(15 15 15 / 100%);
  --color-off-black-2: rgb(30 30 30 / 100%);
  --color-off-black-3: rgb(45 45 45 / 100%);
  --color-off-black-4: rgb(55 55 55 / 100%);
  --color-off-black-transparent-1: rgb(30 30 30 / 15%);
  --color-off-black-transparent-2: rgb(30 30 30 / 35%);
  --color-red: rgb(226 0 14);
  --color-gray: rgb(128 128 128 / 100%);

  /* Fonts */
  --font-family-sans: "Tahoma", "Segoe UI", "Geneva", "Verdana", sans-serif;
  --font-family-serif: "Georgia", "Times", "Times New Roman", serif;

  /* Font sizes */
  --font-size-footnotes: 12px;
  --font-size-base: 16px;
  --font-size-header-4: 16px;
  --font-size-header-3: 18px;
  --font-size-header-2: 24px;
  --font-size-header-1: 32px;
  --line-height-footnotes: 1em;
  --line-height-header: 1.25em;
  --line-height-text: 1.6875em;

  /* Borders */
  --border-radius: 8px;
  --border-size: 1px;

  /* Paddings */
  --padding-flyout: 16px;
  --padding-modal: 32px;

  /* Gaps */
  --gap: 16px;
  --gap-section: 32px;

  /* Max widths */
  --max-width-body: 640px;
  --max-width-drawer: 288px;
  --max-width-card-poem: 400px;
  --max-width-card-story: 400px;
  --max-width-card-audiobook-service: 400px;
  --max-width-adjacent-post-link: 240px;

  /* Heights */
  --height-card-poem: 72px;
  --height-card-story: 200px;
  --height-card-audiobook-service: 80px;
  --height-audiobook-player: 128px;

  /* Contents */
  --content-arrows-left: "«";
  --content-arrows-right: "»";
  --content-after-header: "_";

  /* Miscellaneous */
  --time-animation: 0.25s;

  /* Blocks / Header */
  --blocks-header-height: calc(var(--blocks-header-height-logo) + 4 * var(--padding-flyout));
  --blocks-header-height-logo: 32px;
}
