.link--general {
  color: inherit;
  text-decoration: underline;
}

.link--general:hover {
  text-decoration: none;
}

.link--button {
  background-color: var(--color-accent);
  border: var(--border-size) solid var(--color-clickable-border);
  border-radius: var(--border-radius);
  color: var(--color-off-white-1);
  display: inline-block;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  font-weight: bold;
  margin: 0;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: opacity var(--time-animation) ease;
}

.link--button:hover {
  text-decoration: underline;
}
