@keyframes card-poem-placeholder-loading {
  0% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 0.75;
  }
}

.card-poem-placeholder {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: card-poem-placeholder-loading;
  animation-timing-function: ease-in-out;
  background-color: var(--color-betwixt);
  border-radius: var(--border-radius);
  display: block;
  height: 72px;
  max-width: var(--max-width-card-poem);
  opacity: 0.5;
  position: relative;
  width: 100%;
}
