.loading {
  box-sizing: border-box;
  display: block;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.loading__circle-1 {
  fill: none;
  opacity: 0.5;
  stroke: var(--color-betwixt);
  stroke-width: 4;
}

.loading__circle-2 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: animation-loading;
  animation-timing-function: linear;
  fill: none;
  stroke: var(--color-accent);
  stroke-dasharray: 66;
  stroke-linecap: round;
  stroke-width: 4;
  transform-origin: center;
}

@keyframes animation-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}
