.button-hamburger {
  --button-hamburger-line-height: 4px;
  --button-hamburger-line-border-radius: calc(var(--button-hamburger-line-height) / 2);
  --button-hamburger-size: calc(5 * var(--button-hamburger-line-height));
  --button-hamburger-transform: calc(2 * var(--button-hamburger-line-height));

  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: grid;
  gap: var(--button-hamburger-line-height);
  height: var(--button-hamburger-size);
  padding: 0;
  position: relative;
  width: var(--button-hamburger-size);
}

.button-hamburger__line {
  background-color: var(--color-base);
  border-radius: var(--button-hamburger-line-border-radius);
  height: var(--button-hamburger-line-height);
  width: 100%;
}

.button-hamburger__line--1 {
  transform-origin: center;
  transition: transform var(--time-animation) ease;
}

.button-hamburger__line--1[data-open="true"] {
  transform: translateY(var(--button-hamburger-transform)) rotate(45deg);
}

.button-hamburger__line--2 {
  transition: opacity var(--time-animation) ease;
}

.button-hamburger__line--2[data-open="true"] {
  opacity: 0;
}

.button-hamburger__line--2[data-open="false"] {
  opacity: 1;
}

.button-hamburger__line--3 {
  transform-origin: center;
  transition: transform var(--time-animation) ease;
}

.button-hamburger__line--3[data-open="true"] {
  transform: translateY(calc(-1 * var(--button-hamburger-transform))) rotate(-45deg);
}
