.drawer {
  background-color: var(--color-background-2);
  border: var(--border-size) solid var(--color-floating-border);
  border-radius: var(--border-radius);
  bottom: var(--padding-flyout);
  box-shadow: 0 8px 8px var(--color-floating-shadow);
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--gap-section);
  height: calc(100% - var(--blocks-header-height) - var(--padding-flyout));
  justify-content: space-between;
  left: var(--padding-flyout);
  max-width: var(--max-width-drawer);
  overflow-y: auto;
  padding: var(--padding-flyout);
  position: fixed;
  transition: background-color var(--time-animation) ease, height var(--time-animation) ease, left var(--time-animation) ease;
  width: 100%;
  z-index: 9;
}

.drawer-enter,
.drawer-leave-to {
  left: calc(-1 * var(--max-width-drawer));
}

.drawer__navigation {
  margin: auto 0;
}

@media screen and (min-width: 1024px) {
  .drawer {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    display: flex !important;
    height: calc(100% - var(--blocks-header-height));
    left: var(--padding-flyout) !important;
  }
}
