.reading-progress {
  box-sizing: border-box;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.reading-progress .reading-progress__inner {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

@media screen and (min-width: 1024px) {
  .reading-progress {
    padding-left: calc(var(--max-width-drawer) + var(--gap-section));
  }
}
