@keyframes animation-loader-poems {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-poems {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: animation-loader-poems;
  animation-timing-function: linear;
  background-color: var(--color-accent);
  height: calc(var(--font-size-base) / 4);
  margin: 0 auto;
  width: calc(var(--font-size-base) * 2);
}
